[Unit]
Description=Muster example for Sheaf of Services
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern T3M3.sheaf-of-services'
