[Unit]
Description=Muster example for Holonomy Detector
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern M2.holonomy-detector'
