[Unit]
Description=Muster example for Dropfolder Trigger
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern C3.dropfolder-trigger'
