[Unit]
Description=Muster example for Failure Ratchet
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern C5.failure-ratchet'
