[Unit]
Description=Muster localhost socket anteroom
Documentation=file:README.md

[Socket]
ListenStream=127.0.0.1:8787
NoDelay=true
Service=muster-anteroom.service

[Install]
WantedBy=sockets.target
