[Unit]
Description=Muster example for Bluetooth Audio Gateway
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern TR1.bluetooth-audio-gateway'
