[Unit]
Description=Muster example for Edge Appliance Bundle
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern T3C1.edge-appliance-bundle'
