[Unit]
Description=Muster example for Cgroup Governor
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern R3.cgroup-governor'
