[Unit]
Description=Muster example for Local Topos Runtime
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern M4.local-topos-runtime'
