[Unit]
Description=Muster example for State Ledger
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern R4.state-ledger'
