[Unit]
Description=Muster example for Edge Control Plane
Documentation=file:README.md

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo muster pattern TR3.edge-control-plane'
